.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.col {
    padding: 0 12px;
}

.l-0 {
    display: none;
}

.l-1 {
    width: 8.33333%;
}

.l-2 {
    width: 16.66667%;
}

.l-3 {
    width: 25%;
}

.l-4 {
    width: 33.33333%;
}
.l-5 {
    width: 41.66667%;
}
.l-6 {
    width: 50%;
}
.l-7 {
    width: 58.33333%;
}
.l-8 {
    width: 66.66667%;
}
.l-9 {
    width: 75%;
}
.l-10 {
    width: 83.33333%;
}
.l-11 {
    width: 91.66667%;
}
.l-12 {
    width: 100%;
}

/* Mobile*/
@media only screen and (max-width: 740px) {
    .grid.wide {
        width: 100%;
    }
    
    .col {
        padding: 0 12px;
    }
    
    .c-0 {
        display: none;
    }
    
    .c-1 {
        width: 8.33333%;
    }
    
    .c-2 {
        width: 16.66667%;
    }
    
    .c-3 {
        width: 25%;
    }
    
    .c-4 {
        width: 33.33333%;
    }
    .c-5 {
        width: 41.66667%;
    }
    .c-6 {
        width: 50%;
    }
    .c-7 {
        width: 58.33333%;
    }
    .c-8 {
        width: 66.66667%;
    }
    .c-9 {
        width: 75%;
    }
    .c-10 {
        width: 83.33333%;
    }
    .c-11 {
        width: 91.66667%;
    }
    .c-12 {
        width: 100%;
    }
}

/* Tablet*/
@media only screen and (min-width: 741px) and (max-width: 1200px) {
    .grid.wide {
        width: 680px;
    }
    
    .m-0 {
        display: none;
    }
    
    .m-1 {
        width: 8.33333%;
    }
    
    .m-2 {
        width: 16.66667%;
    }
    
    .m-3 {
        width: 25%;
    }
    
    .m-4 {
        width: 33.33333%;
    }
    .m-5 {
        width: 41.66667%;
    }
    .m-6 {
        width: 50%;
    }
    .m-7 {
        width: 58.33333%;
    }
    .m-8 {
        width: 66.66667%;
    }
    .m-9 {
        width: 75%;
    }
    .m-10 {
        width: 83.33333%;
    }
    .m-11 {
        width: 91.66667%;
    }
    .m-12 {
        width: 100%;
    }
}
